body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user{
    width: 150px;
}

.card{
    justify-content: space-around;
    padding: 20px;
    display: flex;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 10px solid #d8cefe;

}

.border-blue{
 border: 1px dotted  blue;
}

